<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React POC</title>
    <style type="text/css">
    .pending {
      opacity: 0.3;
    }
    .highlight {
      color: red;
    }
    </style>
  </head>
  <body>
    <div id="content">
      {{content}}
    </div>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>